.section
    padding-top 0px
    padding-bottom 0px

    &__container
        padding-top 85px // TODO: увеличивать 45px + 45px если есть anchor
        padding-bottom 45px
        margin-left auto
        margin-right auto
        max-width 1200px
        width 100%
        opacity 1

    &__h
        -webkit-font-smoothing antialiased
        font-family 'Scada', sans-serif
        font-size 52px
        font-weight bold
        line-height 1.45
        text-align center
        color $color-text-font

    &__paragraph
        -webkit-font-smoothing antialiased
        font-family 'Scada', sans-serif
        font-weight 300
        color $color-text-font
        font-size 30px
        line-height 1.35
        //filter alpha(opacity=70)
        KHTMLOpacity 0.70
        MozOpacity 0.70
        opacity 0.70

    & .link
        text-decoration none

        &,
        &:link,
        &:visited
            color rgb($rgb-compl-deep)

        &:hover
            font-weight normal
            color rgb($rgb-pri-main)
