.footer
    padding 30px 60px

    &__container
        display table

    &__cell
        display table-cell
        width 25%
        padding 0 15px

    &__feedback .link:hover
        color rgb($rgb-compl-bright)

    &__copyright
        display table-cell
        width 25%
        padding 0 15px 20px 15px
        vertical-align bottom
