node_modules/
libs/
*.sublime-*
*.log
*~

# bem
.enb/tmp/
*.bundles/*/*.*
!*.bundles/*/blocks/*
!*.bundles/*/*.bemdecl.js
!*.bundles/*/*.gemini.js
!*.bundles/*/*.md
_/

# symlinks
configs/current
.borschik

# deploy
.dist
sitemap.xml
robots.txt
*.gz

# test
gemini-report
