.content

    &__heading
        margin-bottom 75px
        margin-top 75px

        &:first-child
            margin-top 0

    &__paragraph
        margin 30px auto 30px auto
        max-width 1200px
        KHTMLOpacity 0.75
        MozOpacity 0.75
        opacity 0.75

    & .link
        text-decoration none

        &,
        &:link,
        &:visited
            color rgb($rgb-compl-deep)
