.footer
    margin-top 75px
    background-color rgb($rgb-compl-deep)
    color $color-footer-font
    width 100%
    font-family Arial
    font-size 14px

    &__container
        display table
        width 100%
        max-width 1200px
        padding-top 45px
        padding-bottom 45px
        margin-left auto
        margin-right auto
        opacity 1

    &__about
        display table-cell
        width 25%
        padding-right 30px

    &__feedback
        display table-cell
        width 25%
        padding-right 30px

    &__feedback .link
        text-decoration none
        font-weight bold

        &,
        &:link,
        &:visited
            color $color-footer-font

        &:hover
            color rgb($rgb-compl-bright)

    &__isclaimers
        display table-cell
        width 25%
        padding-right 30px

    &__copyright
        display table-cell
        width 25%
        vertical-align bottom
        text-align right
        color rgb($rgb-compl-bright)

    &__title
        font-size 22px
        font-family 'Scada', sans-serif
        font-weight bold
        line-height 25px
        -webkit-font-smoothing antialiased

    &__text
        font-size 16px
        line-height 24px
        -webkit-font-smoothing antialiased
