// rgb http://colorscheme.ru/#1J21TpBw0w0w0
$rgb-pri-main = 255, 242, 51
$rgb-pri-deep = 191, 184, 77
$rgb-pri-dark = 166, 157, 17
$rgb-pri-light = 255, 246, 102
$rgb-pri-bright = 255, 248, 143

$rgb-compl-main = 108, 45, 172
$rgb-compl-deep = 93, 58, 129
$rgb-compl-dark = 63, 15, 112
$rgb-compl-light = 154, 95, 214
$rgb-compl-bright = 170, 127, 214

$color-header-font = rgb($rgb-pri-dark)
$color-head-font = #fff
$color-text-font = #000
$color-footer-font = #fff
