$sizes = {
    s: { side: 32px, indent: 4px },
    l: { side: 45px, indent: 15px }
}

.header
    width 100%
    position fixed
    z-index 990
    top 0
    background-color rgba($rgb-pri-light, 0.70)
    box-shadow 0px 1px 3px rgba(0,0,0,0)
    transition background-color 300ms linear
    -o-transition background-color 300ms linear
    -ms-transition background-color 300ms linear
    -moz-transition background-color 300ms linear
    -webkit-transition background-color 300ms linear
    display table

    &__nop
        display table-cell
        width 100%

    for $size, $val in $sizes
        &_size_{$size}
            height: ($val['side'] + $val['indent'] * 2)
