.content

    &:last-child
        margin-bottom 75px

    &__heading
        margin-bottom 75px
        margin-top 75px

        &:first-child
            margin-top 0

    &__paragraph
        margin 30px 75px
        opacity 0.75

    &__object
        display table
        margin 30px auto
