.header__menu

    //перенести в common
    // &_size_s
    &-item .link
        margin 16px

        font-size 16px
        font-weight 700
        letter-spacing 1px
        font-family Helvetica, Arial, sans-serif
        -webkit-font-smoothing antialiased
