.section__specific

    &_height_0
        height 80vh
    &_height_1
        height 546px // m
    &_height_2
        height 683px // m
    &_height_3
        height 70vh
    &_height_4
        height 70vh

    &_background_0
        background-image url('_background/section__specific_background_0.m.jpeg')
    &_background_1
        background-image url('_background/section__specific_background_1.m.jpeg')
        background-attachment scroll
    &_background_2
        background-image url('_background/section__specific_background_2.m.jpeg')
        background-attachment scroll
    &_background_3
        background-image url('_background/section__specific_background_3.m.jpeg')
    &_background_4
        background-image url('_background/section__specific_background_4.m.jpeg')
