.header

    &__nav
        display table-cell
        vertical-align middle
        text-align center
        width 100%

    &__navigation
        list-style-type none
        margin 0
        padding 0

    &__link
        clear both
        display inline
        padding-left 15px
        padding-right 15px
        margin 0
        white-space nowrap

    &__link .link
        text-decoration none
        color $color-header-font
        font-size 25px
        font-weight 700
        letter-spacing 1px
        font-family 'Arial'
        -webkit-font-smoothing antialiased
        padding 10px
