.footer
    padding 1px 1px 16px 1px
    font-family Helvetica, Arial, sans-serif
    font-size 12px
    -webkit-font-smoothing antialiased

    &__container
        display block

    &__cell
        padding 0
        margin-left 11px
        margin-right 11px

    &__copyright
        clear both
        padding 0 11px

    &__title
        font-size 18px
        font-family 'Scada', sans-serif
        font-weight bold
        line-height 25px
        -webkit-font-smoothing antialiased

    &__text
        font-size 14px
        line-height 1.35em
        -webkit-font-smoothing antialiased
