.link
    transition color 300ms, background-color 300ms, opacity 300ms
    -o-transition color 300ms, background-color 300ms, opacity 300ms
    -ms-transition color 300ms, background-color 300ms, opacity 300ms
    -moz-transition color 300ms, background-color 300ms, opacity 300ms
    -webkit-transition color 300ms, background-color 300ms, opacity 300ms
