.header__logo
    width 175px
    height 75px

.header__logo-img
    width 175px
    height 105px

.ua_svg_yes .header__logo-img
    background url(header__logo.min.svg) no-repeat
    background-size contain

.ua_svg_no .header__logo-img
    background url(header__logo.png) no-repeat
