.ya-share2
    text-align center

    &__counter
        font-size 36px !important

    &__container_size_m
        & .ya-share2__icon
            height 48px !important
            width 48px !important
            background-size 48px 48px !important
