.list
    list-style-type none
    list-style-position inside

    &__item
        -webkit-font-smoothing antialiased
        font-family 'Scada', sans-serif
        font-weight 300
        color $color-text-font
        font-size 30px
        line-height 1.35

        &:before
            content "\0BB \020"
            color rgb($rgb-pri-deep)
