.header__menu

    .ua_orient_landscape &-container .header__navigation
        display none

    //перенести в common
    // &_size_l
    &-item .link
        margin 20px

        font-size 21px
        font-weight 700
        letter-spacing 1px
        font-family 'Arial'
        -webkit-font-smoothing antialiased
