$sizes = {
    s: 4px,
    m: 6px,
    l: 8px,
    xl: 12px,
    xxl: 18px
}

$root = '.table'

{$root}
    border-collapse collapse

    &__cell
        padding 2px 0
        text-align left
        -webkit-font-smoothing antialiased
        font-family 'Scada', sans-serif
        color $color-text-font
        font-size 24px
        line-height 1em
        border 1px dotted rgb($rgb-pri-deep)

        & + &
            padding-left 8px

        th&
            text-align center
            border-top none

        tr:last-child td&
            border-bottom none

        //FIXIT: Зробити це у шаблоні, + відцентрувати контент
        td&:empty:before
            content '—'

for gap in $sizes
    {$root}_gap_{gap} {$root}__cell
        padding: $sizes[gap]

        &:first-child
            padding-left 0
            border-left none

        &:last-child
            padding-right 0
            border-right none

for gap in $sizes
    {$root}_gap-x_{gap} {$root}__cell
        padding-right: $sizes[gap]
        padding-left: $sizes[gap]

        &:first-child
            padding-left 0

        &:last-child
            padding-right 0

for gap in $sizes
    {$root}_gap-y_{gap} {$root}__cell
        padding-top: $sizes[gap]
        padding-bottom: $sizes[gap]
