.header__menu

    &-container
        list-style-type none
        margin 0
        padding 0
        background-color rgba($rgb-pri-dark, 0.75)

    &-item .link
        text-decoration none
        display block

        &,
        &:link,
        &:visited
            color rgb($rgb-pri-bright)
