.section

    &__cover
        position relative
        overflow hidden
        background-image linear-gradient(top, #ccc, #777)
        background-image -o-linear-gradient(top, #ccc, #777)
        background-image -ms-linear-gradient(top, #ccc, #777)
        background-image -moz-linear-gradient(top, #ccc, #777)
        background-image -webkit-linear-gradient(top, #ccc, #777)

    &__fog
        width 100%
        position absolute
        top 0
        left 0
        background-image linear-gradient(top, rgba($rgb-pri-bright, 0.50), rgba($rgb-pri-bright, 0.50))
        background-image -o-linear-gradient(top, rgba($rgb-pri-bright, 0.50), rgba($rgb-pri-bright, 0.50))
        background-image -ms-linear-gradient(top, rgba($rgb-pri-bright, 0.50), rgba($rgb-pri-bright, 0.50))
        background-image -moz-linear-gradient(top, rgba($rgb-pri-bright, 0.50), rgba($rgb-pri-bright, 0.50))
        background-image -webkit-linear-gradient(top, rgba($rgb-pri-bright, 0.50), rgba($rgb-pri-bright, 0.50))
 
    &__image
        width 100%
        background-size cover
        -o-background-size cover
        -moz-background-size cover
        -webkit-background-size cover
        background-repeat no-repeat
        background-position center center
        background-attachment fixed

    &__title
        position absolute
        top 0
        left 0
        bottom 0
        right 0
        margin-left auto
        margin-right auto
        width 100%
        padding 0
        text-align center
        display table
        text-align center
        vertical-align middle

    &__heading
        display table-cell
        -webkit-font-smoothing antialiased
        font-family 'Scada', sans-serif
        font-weight 700
        color $color-head-font
        text-align center
        vertical-align middle
        padding 0 38px 0 38px

        &_level
            &_1
                font-size 102px
            &_2
                font-size 72px
